@import url('https://fonts.googleapis.com/css?family={fontFamily}:{fontWeight}');

:root {
  --titleFontFamily: {titleFontFamily}, sans-serif;
  --barFontFamily: {barFontFamily}, sans-serif;
  --titleFontWeight: {titleFontWeight};
  --barFontWeight: {barFontWeight};
  
  --titleFontSize: {titleSize}px;
  --fontSize: {goalSize}px;
  --textTransform: {textTransform};
  --fontWeight: {fontWeight};
  --titlePosition: {titlePosition};
  
  --barFillColor: {barFillColor};
  --currentTextColor: {currentTextColor};
  --goalTextColor: {goalTextColor};
  --barBackColor: {barBackColor};
  --barRoundness: {barRound}em;
  --barBorderSize: {barBorderSize}px;
  --barBorderColor: {barBorderColor};
  --barEnableRGB: {enableRGB}s;
}

#textHolder {
  padding-right: 1em; 
  padding-left: 1em; 
  font-family: '{titleFontFamily}';
  font-size: var(--titleFontSize);
  margin-bottom: 10px;
  text-align: var(--titlePosition);
  text-transform: var(--textTransform);
  font-weight: var(--titleFontWeight);
}

#progress {
  float: center;
  font-family: '{barFontFamily}';
  font-size: var(--fontSize);
  color: var(--currentTextColor);
  text-transform: var(--textTransform);
  font-weight: var(--barFontWeight);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
  align-items: center;
  justify-content: flex-end; 
}

#progress label {
    align-self: flex-end;
    height: var(--fontSize);
    padding: .7em 1em;
    border-radius: var(--barRoundness);
    display: flex;
    align-items: center;
}

#progress #bar {
  width: 94%;
  height: var(--fontSize);
  background-color: var(--barBackColor);
  padding: .7em 1em;
  border-radius: var(--barRoundness);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  flex-wrap: wrap;
  border: var(--barBorderSize) var(--barBorderColor) solid;
}

#progress #bar::before, #progress #bar .loading {
  content: '';
  border-radius: var(--barRoundness);
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -2;
  -webkit-animation: hue var(--barEnableRGB) infinite;
}

#progress #bar .loading {
  background-color: var(--barFillColor);
  min-width: 13%;
  width: 13%;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: .5s all ease-in-out;
}

#progress .endgame .amount {
  color: var(--goalTextColor);
}

#progress #bar .loading .amount {
  position: relative;
  padding-right: 1em; 
}

@-webkit-keyframes hue {
  0%, 100%  { -webkit-filter: hue-rotate(0deg); }
  50% { -webkit-filter: hue-rotate(360deg); }
}